NODE_ENV=development


CLERK_SECRET_KEY=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

# PayStack Live Api keys
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

# Frontend Url
FRONTEND_BASE_URL=http://localhost:3000
